@{
    ViewData["Title"] = "Home Page";
}
@model Student;

<div >
    @Html.DisplayFor(m => m.FirstName)
    @Html.TextBoxFor(m => m.FirstName)
</div>

<div>
    @Html.DisplayFor(m => m.LastName)
    @Html.TextBoxFor(m => m.LastName)
</div>
<div>
    @Html.DisplayFor(m => m.Grade)
    @Html.TextBoxFor(m => m.Grade)
</div>
<div>
    @Html.DisplayFor(m => m.UID)
    @Html.TextBoxFor(m => m.UID)
</div>


